.button-wrapper {
  margin-top: 4rem;
  padding: 2px;
  border-radius: 0.8rem;
  background-color: var(--background-tertiary);

  & button {
    background-color: var(--background-tertiary);
    width: 100%;
    padding: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0.7rem;
    outline: none;
  }

  &:hover,
  &:has(:focus) {
    background: linear-gradient(
      90deg,
      #77c0af 0%,
      #d1dc97 14.84%,
      #e9a9b3 32.15%,
      #d586e0 65.79%,
      #91a1fa 84.58%
    );

    & button {
      background-color: var(--background-secondary);
    }
  }
}
