* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;
  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0A;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;
  --gradient-border: ;
  --gradient-background: ;
  --gradient-content: ;

  --ff-sora: "Sora", sans-serif;
  --ff-roboto-mono: "Roboto Mono", sans-serif;
  --ff-roboto-flex: "Roboto Flex", sans-serif;

  --display-large: 800 7.2rem/1.3 var(--ff-sora);
  --display-medium: 800 4rem/1.3 var(--ff-sora);
  --display-small: 700 3.2rem/1.3 var(--ff-sora);

  --overline: 700 1.6rem/1.5 var(--ff-roboto-mono);

  --paragraph-large: 500 1.6rem/1.5 var(--ff-roboto-flex);
  --paragraph-medium: 500 1.4rem/1.5 var(--ff-roboto-flex);
  --paragraph-small: 500 1.2rem/1.5 var(--ff-roboto-flex);
  --label-medium: 700 2rem/1.5 var(--ff-roboto-flex);
  --label-small: 700 1.6rem/1.5 var(--ff-roboto-flex);
}

body {
  font-size: 1.6rem;
  font-family: var(--ff-roboto-flex);
}

a {
  text-decoration: none;
  color: inherit;
}

button, input {
  border: none;
}