header {
  padding-block: 4.4rem;
  display: flex;
  justify-content: center;
  padding-inline: 3.2rem;
}

@media (width >= 1024px) {
  header {
    justify-content: start;
    padding-block: 7.6rem;
  }
}